
* {
    margin: 0;
    padding: 0;
}
header {
    border-bottom: 1px solid grey;
    padding: 10px;
}
nav  {
    padding: 10px;
    border-bottom: 1px solid grey;
}
 nav span {
    margin-left: 10px;
}
nav span:first-child {
    border-bottom: 2px solid black;
}

image-container {
    float: right;
    margin: 15px;
}
content {
    padding: 20px;
}
content p {
    margin-top: 20px;
}
body {
    max-width: 600px;
    width: 100%;
    /* border: 1px solid black; */
     margin: auto; 
}

/* main section {
    float: right;
} */
